name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use NodeJs
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: npm install and test
        run: |
          npm ci
          npm install
          npm Test
        env:
          CI: true
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ORG: geerlingguy
          REPO: ansible-for-devops
          HEAD_COMMIT: 2.0
          BASE_COMMIT: 0.60